.footer
  .container
      .row
        .col-sm-3.myCols
          h5 Use I$ON
          ul
            li
              a I$ON Reviews
            li
              a Sitemap
            li
              a Customer Service
        .col-sm-3.myCols
          h5 About us
          ul
            li
              a Company Information
            li
              a Contact us
            li
              a Contact support
        .col-sm-3.myCols
          h5 Plan Events
          ul
            li
              a Music
            li
              a Fashion
            li
              a Sport
        .col-sm-3.myCols
          h5 Legal
          ul
            li
              a Security
            li
              a Pricing
            li
              a Privacy Policy
  .col-md-12.text-center  
      .Company &copy; 2017 I$ON
