extends ../layout

block content
  .container
    h1.main-title Create An Event
    form(action="/questions", method="POST")
      include _form
      .form-group
        button.btn.btn-primary(type='submit') make Event!

    
